@page
@model DaliFood.AdminPanel.Pages.CustomersProduct.IndexModel
@{
}
<div class="container">
<a class="btn btn-outline-primary m-2" asp-page="upsert">افزودن غذا جدید</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">نام</th>
                <th scope="col">رستوران</th>
            
                <th scope="col">قیمت</th>
                <th scope="col">قیمت با اعمال تخفیف</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomersProduct)
            {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Customer.Name</td>

                <td>@item.Price</td>
                @if (item.Discount != null)
                {
                    <td>@item.Price.UseDiscount(item.Discount.DiscountRate)</td>
                }
                else
                {
                    <td>@item.Price</td>
                }
                <td>
                    <a asp-page="upsert" asp-route-Id="@item.Id" class="btn btn-warning">ویرایش</a>
                    <a asp-page="discount/upsert" asp-route-Id="@item.Id" class="btn btn-primary">تخفیف</a>
                    <a asp-page-handler="Delete" asp-route-Id="@item.Id" onclick="return confirm('آیا از حذف این دسته بندی مطمئن هستید؟');" class="btn btn-danger">حذف</a>
                </td>
            </tr>
            }
            
        </tbody>
    </table>
</div>