@page
@model DaliFood.AdminPanel.Pages.Users.IndexModel
@{

    ViewData["Title"] = "لیست";
    ViewData["Section"] = "مدیریت کاربران";

}
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">لیست کاربران</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                @*<a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>*@

            </div>
        </div>
    </div>
    <div class="card-body">

        <form method="get">

            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend class="font-weight-semibold"><i class="icon-reading mr-2"></i>فیلتر ها </legend>
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <input class="form-control" type="search" name="SearchQ" id="GridSearch" placeholder="متن جست جو" />

                            </div>
                            <div class="col-lg-2">
                                <select class="form-control" name="SearchStatus" id="SearchStatus">
                                    <option value="">وضعیت ایمیل</option>
                                    <option value="true">تایید شده</option>
                                    <option value="false">تایید نشده</option>

                                </select>
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="text" name="SearchName" placeholder="نام" />
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="text" name="SearchFamily" placeholder="نام خانوادگی" />
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="text" name="SearchEmail" placeholder="ایمیل" />
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-3">
                                <input type="submit" class="btn btn-default text-info" style="float:left;" value="جستجو!" />
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
            @*<label for="SearchStatus">وضعیت:</label>*@
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">&nbsp;</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <hr />
        <a class="btn btn-success" asp-area="Identity" asp-page="/account/register" style="margin-bottom:20px;">افزودن</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">نام</th>
                    <th scope="col">نام خانوادگی</th>
                    <th scope="col">ایمیل</th>
                    <th scope="col">وضعیت ایمیل</th>
                    <th scope="col">عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Family</td>
                        <td>@item.Email</td>
                        @(item.EmailConfirmed ? Html.Raw("<td class=\"text-success\">تایید شده</td>") : Html.Raw("<td class=\"text-danger\">تایید نشده</td>"))

                        <td>
                            <a asp-page="Profile" asp-route-Id="@item.Id"><i class='icon-pencil6 mr-3 text-info'></i></a>
                            <a asp-page-handler="Delete" asp-route-Id="@item.Id"><i class='icon-eraser2 mr-3 text-danger'></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts{

}