@page
@model DaliFood.AdminPanel.Pages.Financial.TransactionModel
@{

    ViewData["Title"] = "لیست";
    ViewData["Section"] = "مدیریت غذای مشتریان";
}

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title">لیست تراکنش ها</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
                <form method="get">
                    <input type="search" name="SearchQ" id="GridSearch" placeholder="جست و جو" />
                    <input type="checkbox" name="SearchStatus" id="SearchStatus" value="0" />
                    <label for="SearchStatus">در حال بررسی</label>
                    <input type="number" name="SearchMinPrice" placeholder="حداقل قیمت" />
                    <input type="number" name="SearchMaxPrice" placeholder="حداکثر قیمت" />
                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="enter_date">از تاریخ</span>
                    </div>
                    <input type="text" id="enter_date_1"
                           aria-label="enter_date" aria-describedby="enter_date" />
                    <input type="hidden" name="SearchStartDate" id="enter_date_2"
                           aria-label="enter_date" aria-describedby="enter_date" />



                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="exit_date">تا تاریخ</span>
                    </div>
                    <input type="text" name="exit_date_1" id="exit_date_1" aria-label="exit_date"
                           aria-describedby="exit_date" />
                    <input type="hidden" name="SearchEndDate" id="exit_date_2"
                           aria-label="exit_date" aria-describedby="exit_date" />
                    <input type="submit" class="btn btn-success" value="بیـاب!" />
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">شناسه کاربر</th>
                    <th scope="col">نوع تراکنش</th>
                    <th scope="col">تاریخ تراکنش</th>

                    <th scope="col">میزان</th>
                    <th scope="col">توضیحات</th>
                    <th scope="col">اعتبار قبلی</th>
                    <th scope="col">اعتبار جدید</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Transactions)
                {
                    <tr>
                        <td>@item.UserId</td>
                        @switch (item.TypeId)
                        {
                            case 0:
                                <td>واریزی</td>
                                break;
                            case 1:
                                <td>برداشت</td>
                                break;
                            case 2:
                                <td>سفارش</td>
                                break;
                            default:
                                <td>-</td>
                                break;
                        }
                        <td>@item.CreateDate.ToShamsi()</td>
                        <td>@item.Amount</td>
                        <td>@item.Description</td>
                        <td>@item.OldAmount</td>
                        <td>@item.NewAmount</td>


                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $('#enter_date').MdPersianDateTimePicker({
            targetTextSelector: '#enter_date_1',
            targetDateSelector: '#enter_date_2',
            fromDate: true,
            groupId: 'enter_date',

        });

        $('#exit_date').MdPersianDateTimePicker({
            targetTextSelector: '#exit_date_1',
            targetDateSelector: '#exit_date_2',
            toDate: true,
            groupId: 'enter_date',

        });
    </script>
}
